---
title: Pong.js
---

.playfield{ ng_controller: 'PongCtrl' }
  .net
  .score.player1 {{player1.score}}
  .score.player2 {{player2.score}}
  .paddle.player1{ style: 'top:{{player1.y}}%' }
  .paddle.player2{ style: 'top:{{player2.y}}%' }
  .ball
